// Compile with sass style.scss

// Nesting

li {
   font: {
      family: serif;
      weight: bold;
      size: 1.2em;
   }
}

// Variables
$blue: #3bbfce;
$margin: 16px;

.content_navigation {
   border-color: $blue;
   color: darken($blue, 10%);
}

.border {
   padding: $margin / 2;
   margin: $margin / 2;
   border-color: $blue;
}

// Mixins = kinda like functions

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
       -ms-border-radius: $radius;
           border-radius: $radius;
 }
 
 .box { @include border-radius(10px); }