html,
body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body{
    background-color: #E0E0E0;
}

/* Header */
#site-header{
    height: 150px;
    background-color: rgb(34, 76, 91);
    background-image: url("../images/311QAlertsDataAnalyticsBanner.png") !important;
    background-repeat: no-repeat;
    background-position: top left;
    padding-right: 60px;
    padding-left: 60px;
    overflow: hidden;
}
  
.image-logo{
    margin-top: 24.5px;
    padding: 10px;
    height: 75px;
    width: auto;
    
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #5E6B28;
}
  
.salinas-logo{
    height: 100%;
    display: inline-block;
    float:right;
}

/* Charts */
.panel{
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

.half-canvas-container{
    position: relative;
    width: 50%;
    display: inline-block;
}

.canvas-container{
    position: relative;
    width: 100%;
    display: inline-block;
}

.big-canvas-container{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 2000px;
}

/* Text Panel */
.text-panel{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

/* Esri Map Styles */
.esri-map-container{
    position: relative;
    width: 100%;
    height: 800px;
    display: inline-block;
}

.esri-map-div {
    height: 100%;
    width: 100%;
}

.esri-map-dot-density-legend .esri-legend__symbol div,
.esri-map-dot-density-legend .esri-legend__symbol div svg,
.esri-map-dot-density-legend .esri-legend__symbol div svg g {
    height: 100% !important;
    width: 100% !important;
}

.esri-map-dot-density-legend .esri-legend__symbol div svg g circle {
    transform: scale(3,3);
}