.red{
    background-color: #ff6384;
}
.orange{
    background-color: #ff9f40;
}
.yellow{
    background-color: #ffcd56;
}
.green{
    background-color: #4bc0c0;
}
.blue{
    background-color: #36a2eb;
}
.purple{
    background-color: #9966ff;
}
.gray{
    background-color: #c9cbcf;
}
.dark-red{
    background-color: #c9002b;
}
.dark-orange{
    background-color: #a65300;
}
.dark-yellow{
    background-color: #bc8400;
}
.dark-green{
    background-color: #1e5454;
}
.dark-blue{
    background-color: #0c4f7c;
}
.dark-purple{
    background-color: #4400cc;
}
.dark-gray{
    background-color: #16452d;
}