$color1: darken(rgb(252, 32, 32), 10%);
$color2: darken(rgb(252, 93, 35), 10%);
$color3: darken(rgb(255, 240, 38), 10%);
$color4: darken(rgb(113, 255, 43), 10%);
$color5: darken(rgb(42, 255, 156), 10%);
$color6: darken(rgb(41, 233, 255), 10%);
$color7: darken(rgb(40, 90, 255), 10%);
$color8: darken(rgb(118, 40, 255), 10%);
$color9: darken(rgb(168, 40, 255), 10%);
$color10: darken(rgb(255, 40, 233), 10%);

.d1{color:$color1;}
.d2{color:$color2;}
.d3{color:$color3;}
.d4{color:$color4;}
.d5{color:$color5;}
.d6{color:$color6;}
.d7{color:$color7;}
.d8{color:$color8;}
.d9{color:$color9;}
.d10{color:$color10;}