.d1 {
  color: rgb(230, 3, 3); }

.d2 {
  color: rgb(233, 65, 3); }

.d3 {
  color: rgb(242, 225, 0); }

.d4 {
  color: rgb(82, 247, 0); }

.d5 {
  color: rgb(0, 246, 132); }

.d6 {
  color: rgb(0, 220, 245); }

.d7 {
  color: rgb(0, 57, 244); }

.d8 {
  color: rgb(89, 0, 244); }

.d9 {
  color: rgb(145, 0, 244); }

.d10 {
  color: rgb(244, 0, 219); }
