.d1 {
  color: #b40202; }

.d2 {
  color: #b73302; }

.d3 {
  color: #bfb200; }

.d4 {
  color: #41c400; }

.d5 {
  color: #00c368; }

.d6 {
  color: #00aec2; }

.d7 {
  color: #002dc1; }

.d8 {
  color: #4600c1; }

.d9 {
  color: #7300c1; }

.d10 {
  color: #c100ad; }
