.d1 {
  color: rgb(180, 2, 2); }

.d2 {
  color: rgb(183, 51, 2); }

.d3 {
  color: rgb(191, 178, 0); }

.d4 {
  color: rgb(65, 196, 0); }

.d5 {
  color: rgb(0, 195, 104); }

.d6 {
  color: rgb(0, 174, 194); }

.d7 {
  color: rgb(0, 45, 193); }

.d8 {
  color: rgb(70, 0, 193); }

.d9 {
  color: rgb(115, 0, 193); }

.d10 {
  color: rgb(193, 0, 173); }
