<!DOCTYPE html>
<html data-ng-app="">
   <head>
      <title>Using AngularJS Directives and Data Binding</title>
   </head>
   <body>
      <div class="container" data-ng-init="customers=[{name:'John Smith',city:'Phoenix'}, {name: 'John Doe',city:'San Jose'}, {name: 'Jane Doe',city:'San Francisco'}]">
         Name:
         <br>
         <input type="text" data-ng-model="name"/> {{ name }}
         <br>
         <ul>
            <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase }}</li>
         </ul>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
   </body>
</html>