html,
body,
#view-div{
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;
}

#infoDiv{
   position: absolute;
   bottom: 15px;
   right: 0;
   max-height: 80%;
   max-width: 300px;
   background-color: black;
   padding: 8px;
   border-top-left-radius: 5px;
   color: white;
   opacity: 0.8;
}

/* Style legend for small screens */
@media only screen and (max-device-width:600px){
   .esri-ui-corner .esri-expand .esri-widget--panel, .esri-ui-corner .esri-expand .esri-widget--panel-height-only, .esri-ui-corner .esri-component.esri-widget--panel{
      width: 100%;
   }

   .esri-ui-top-right {
      top: unset;
      bottom: 0 !important;
      padding: 5px;
      width: 100%;
   }

   .esri-legend__layer-table{
      margin-bottom: 0;
   }

/*   .esri-legend__layer-table .esri-legend__layer-table--size-ramp{
      margin-bottom: 0;
   }*/

   .esri-component .esri-layer-list .esri-widget .esri-widget--panel{
      width: 100%;
      padding: 5px;
   }

   .esri-ui-top-right .esri-component, .esri-ui-top-left .esri-component{
      margin-bottom: 0;
   }

/*   .esri-layer-list{
      bottom: 0;
      left: 0;
      right: 0;
      margin-right: 20px;
      margin-left: 20px;
      padding: 5px;
      margin-bottom: 20px;
   }*/

   .esri-layer-list-panel{
      margin: 0 15px;
   }

   .esri-layer-list-panel__content--legend .esri-legend__service{
      padding: 0;
   }

   .esri-layer-list__item-container{
      padding: 5px 7px 5px 20px;
   }
}